@using System.Security.Claims
@inherits LayoutComponentBase
@inject CookieThemeService CookieThemeService

<RadzenLayout>
    <RadzenHeader>
        <RadzenContentContainer >
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceAround" AlignItems="AlignItems.Center" Gap="0">
            <div tabindex="0" role="button">
                <a href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" style="height: 25px;width: 15px;" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"/>
                    </svg>
                </a>
            </div>

            <RadzenMenu>
                <RadzenMenuItem Text="Items" Path="Item/"/>

                <RadzenMenuItem Text="Parent">
                    <RadzenMenuItem Text="Submenu 1"/>
                    <RadzenMenuItem Text="Submenu 2"/>
                </RadzenMenuItem>

                <RadzenMenuItem Text="Item 3"/>
            </RadzenMenu>

            <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto"/>

            <WebScan/>

            <AuthorizeView>
                <Authorized>
                    <RadzenProfileMenu>
                        <Template>
                            <RadzenGravatar Email="@context.User.FindFirst(ClaimTypes.Email)?.Value"/>
                            @context.User.Identity?.Name
                        </Template>
                        <ChildContent>
                            <RadzenProfileMenuItem Text="Profile" Path="Account/Manage"/>
                            <RadzenProfileMenuItem Text="Settings" Path="Account/Manage"/>
                            <RadzenProfileMenuItem Text="Log Out" Path="Account/Logout"/>
                        </ChildContent>
                    </RadzenProfileMenu>
                </Authorized>
                <NotAuthorized>
                    <a href="Account/Login">Login</a>
                </NotAuthorized>
                <Authorizing>Logging in, please wait...</Authorizing>
            </AuthorizeView>
        </RadzenStack>
        </RadzenContentContainer>
    </RadzenHeader>
    <RadzenBody>
        <RadzenContentContainer>
            <RadzenContent>
                @Body
            </RadzenContent>
        </RadzenContentContainer>
    </RadzenBody>
    <RadzenFooter class="rz-background-color-base-darker">
        <footer style="max-width: 1200px;">
            <RadzenStack AlignItems="AlignItems.Normal" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Normal" Gap="1rem">
                <div class="rz-col-12 rz-col-xs-6 rz-col-lg-4">
                    <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Normal" Wrap="FlexWrap.NoWrap">
                        <svg
                            width="36"
                            height="36"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            class="fill-current">
                            <path
                                d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.131.211 2.461 1.229.332 1.018-.21 2.126-1.23 2.456l-2.433.809 1.622 4.823 2.433-.809c1.242-.401 2.557.484 2.557 1.838 0 .819-.51 1.583-1.328 1.847m-8.992-6.428l-5.01 1.675 1.619 4.828 5.011-1.674-1.62-4.829z"></path>
                        </svg>
                        <h5 class="rz-text-h5 rz-text-tertiary-color">It's easier than you think.</h5>
                    </RadzenStack>
                </div>

                <div class="rz-col-12 rz-col-lg-8 rz-col-xl-6 rz-offset-xl-2">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Normal" JustifyContent="JustifyContent.Normal" Gap="1rem">
                        <div class="rz-col-12 rz-col-xs-6 rz-col-md-3">
                            <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Normal" Gap="1rem" Wrap="FlexWrap.NoWrap">
                                <RadzenText TextStyle="TextStyle.H6" class="rz-color-on-base-darker">Products</RadzenText>

                                <RadzenLink>Product 1</RadzenLink>
                                <RadzenLink>Product 2</RadzenLink>
                                <a href="/ui-blocks-footers" class="rz-link rz-text-tertiary-color active" aria-current="page"><span class="rz-link-text">Product 4</span></a>
                            </RadzenStack>
                        </div>

                        <div class="rz-col-12 rz-col-xs-6 rz-col-md-3">
                            <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Normal" Gap="1rem" Wrap="FlexWrap.NoWrap">
                                <RadzenText TextStyle="TextStyle.H6" class="rz-color-on-base-darker">Solutions</RadzenText>
                                <RadzenLink>Solution 1</RadzenLink>
                            </RadzenStack>
                        </div>

                        <div class="rz-col-12 rz-col-xs-6 rz-col-md-3">
                            <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Normal" Gap="1rem" Wrap="FlexWrap.NoWrap">
                                <RadzenText TextStyle="TextStyle.H6" class="rz-color-on-base-darker">Company</RadzenText>
                                <RadzenLink>About us</RadzenLink>
                            </RadzenStack>
                        </div>

                        <div class="rz-col-12 rz-col-xs-6 rz-col-md-3">
                            <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Normal" Gap="1rem" Wrap="FlexWrap.NoWrap">
                                <RadzenText TextStyle="TextStyle.H6" class="rz-color-on-base-darker">Legal</RadzenText>
                                <RadzenLink>Privacy policy</RadzenLink>
                                <RadzenLink>Terms of use</RadzenLink>
                            </RadzenStack>
                        </div>
                    </RadzenStack>
                </div>
            </RadzenStack>

            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Normal" JustifyContent="JustifyContent.Normal" class="rz-border-top rz-border-color-base-800 rz-mt-8 rz-pt-4">
                <div class="rz-col-12" style="height: fit-content;">
                    <p class="rz-text-body2 rz-m-0 rz-text-disabled-color">Copyright © 2024 - @DateTime.Now.Year, Company Name Inc. All rights reserved.</p>
                </div>
            </RadzenStack>
        </footer>
    </RadzenFooter>
</RadzenLayout>
