@using System.Security.Claims
@inherits LayoutComponentBase

<Layout>
    <Header Class="header">
        <Flex Direction="FlexDirection.Horizontal" Justify="FlexJustify.SpaceBetween">
        <div tabindex="0" role="button" class="logo">
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" style="height: 25px;width: 15px;" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"/>
                </svg>
            </a>
        </div>

        <Menu Mode="MenuMode.Horizontal" Theme="MenuTheme.Dark">
            <MenuItem Title="Items" RouterLink="Item/"/>

            <SubMenu Title="Parent">
                <MenuItem Title="Submenu 1"/>
                <MenuItem Title="Submenu 2"/>
            </SubMenu>

            <MenuItem Title="Item 3"/>
        </Menu>

        <Input Placeholder="Search" class="input input-bordered w-24 md:w-auto" TValue="string" Style="max-width: 25%;"/>

        <WebScan/>

        <AuthorizeView>
            <Authorized>
                <Dropdown>
                    <Overlay>
                        <Menu>
                            <MenuItem RouterLink="Account/Manage" Title="Profile"/>
                            <MenuItem RouterLink="Account/Manage" Title="Settings"/>
                            <MenuItem RouterLink="Account/Logout" Title="Log Out"/>
                        </Menu>
                    </Overlay>
                    <ChildContent>
                        <Avatar Src="@context.User.FindFirst(ClaimTypes.Email)?.Value"/>
                        @context.User.Identity?.Name
                    </ChildContent>
                </Dropdown>
            </Authorized>
            <NotAuthorized>
                <a href="Account/Login">Login</a>
            </NotAuthorized>
            <Authorizing>Logging in, please wait...</Authorizing>
        </AuthorizeView>

        <BarAccount/>
        <BarConnectionStatus/>
        </Flex>
    </Header>
    <Content Style="padding: 0 50px;">
        @Body
    </Content>
    <Footer class="rz-background-color-base-darker">
        <footer style="max-width: 1200px;">
            <Flex Justify="FlexJustify.SpaceEvenly">
                <div class="rz-col-12 rz-col-xs-6 rz-col-lg-4">
                    <Flex Direction="FlexDirection.Vertical" Justify="FlexJustify.SpaceEvenly" Wrap="FlexWrap.NoWrap">
                        <svg
                            width="36"
                            height="36"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            class="fill-current">
                            <path
                                d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.131.211 2.461 1.229.332 1.018-.21 2.126-1.23 2.456l-2.433.809 1.622 4.823 2.433-.809c1.242-.401 2.557.484 2.557 1.838 0 .819-.51 1.583-1.328 1.847m-8.992-6.428l-5.01 1.675 1.619 4.828 5.011-1.674-1.62-4.829z"></path>
                        </svg>
                        <h5 class="rz-text-h5 rz-text-tertiary-color">It's easier than you think.</h5>
                    </Flex>
                </div>

                <div class="rz-col-12 rz-col-lg-8 rz-col-xl-6 rz-offset-xl-2">
                    <Flex Justify="FlexJustify.SpaceEvenly" Gap="FlexGap.Middle">
                        <div class="rz-col-12 rz-col-xs-6 rz-col-md-3">
                            <Flex Direction="FlexDirection.Vertical" Align="FlexAlign.Start" Gap="FlexGap.Middle" Wrap="FlexWrap.NoWrap">
                                <h6 class="rz-color-on-base-darker">Products</h6>
                                <a>Product 1</a>
                                <a>Product 2</a>
                                <a href="/ui-blocks-footers" class="rz-link rz-text-tertiary-color active" aria-current="page"><span class="rz-link-text">Product 4</span></a>
                            </Flex>
                        </div>

                        <div class="rz-col-12 rz-col-xs-6 rz-col-md-3">
                            <Flex Direction="FlexDirection.Vertical" Align="FlexAlign.Start" Gap="FlexGap.Middle" Wrap="FlexWrap.NoWrap">
                                <h6 class="rz-color-on-base-darker">Solutions</h6>
                                <a>Solution 1</a>
                            </Flex>
                        </div>

                        <div class="rz-col-12 rz-col-xs-6 rz-col-md-3">
                            <Flex Direction="FlexDirection.Vertical" Align="FlexAlign.Start" Gap="FlexGap.Middle" Wrap="FlexWrap.NoWrap">
                                <h6 class="rz-color-on-base-darker">Company</h6>
                                <a>About us</a>
                            </Flex>
                        </div>

                        <div class="rz-col-12 rz-col-xs-6 rz-col-md-3">
                            <Flex Direction="FlexDirection.Vertical" Align="FlexAlign.Start" Gap="FlexGap.Middle" Wrap="FlexWrap.NoWrap">
                                <h6 class="rz-color-on-base-darker">Legal</h6>
                                <a>Privacy policy</a>
                                <a>Terms of use</a>
                            </Flex>
                        </div>
                    </Flex>
                </div>
            </Flex>

            <Flex Direction="FlexDirection.Horizontal" class="rz-border-top rz-border-color-base-800 rz-mt-8 rz-pt-4">
                <div class="rz-col-12" style="height: fit-content;">
                    <p class="rz-text-body2 rz-m-0 rz-text-disabled-color">Copyright © 2024 - @DateTimeOffset.Now.Year, Company Name Inc. All rights reserved.</p>
                </div>
            </Flex>
        </footer>
    </Footer>
</Layout>
