@using BlazorInventory.Abstractions.Service
@inherits ActualLab.Fusion.Blazor.ComputedStateComponent<ICollection<ItemTagView>>
@inject ITagService TagService

@if (State.HasValue && State.ValueOrDefault != null)
{
    @if (State.Value.Count > 0)
    {
        @foreach (var tag in State.Value)
        {
            <Tag>
                @tag.Tag
            </Tag>
        }
    }
    else
    {
        <span>No tags</span>
    }
}
else
{
    <span>Waiting for State...</span>
}