@page "/Item/Create"
@attribute [Authorize]
@using ActualLab.CommandR
@using BlazorInventory.Abstractions.Models
@using BlazorInventory.Abstractions.Service
@inject IForeignServerService ForeignServerService
@inject ICommander Commander
@inject NavigationManager NavigationManager

<h3>Create</h3>

<Form Model="@Model" OnFinish="@Submit" TModel="CreateModel" LabelColSpan="8" WrapperColSpan="16">
    Item Details
        <FormItem Label="Name" Required>
            <Input @bind-Value="Model.Name" MaxLength="120" Placeholder="Name" required/>
        </FormItem>

        <FormItem Label="Description">
            <TextArea @bind-Value="Model.Description" MaxLength="1024" Name="Description" ShowCount></TextArea>
        </FormItem>

        <FormItem Label="Parent">
            @* <AutoComplete @bind-Value="Model.ParentId" DisplayName="Parent" /> *@
            @* <Input @bind-Value="Model.ParentId" /> *@
        </FormItem>

    Label Details
    <FormItem Label="Identifier">
        <Input @bind-Value="Model.Identifier" MaxLength="256" Placeholder="Identifier"/>
    </FormItem>

    <FormItem Label="Label Type" Required>
        <EnumSelect TEnum="LabelType?" @bind-Value="Model.LabelType" Mode="SelectMode.Default" EnableSearch="true" HideSelected="true" />
    </FormItem>

        <FormItem Label="Foreign Server">
            <Input Value="@Model.ForeignServerId.ToString()"/>
            @* <Autocomplete @bind-Value="Model.ForeignServerId" DisplayName="Foreign Server" /> *@
            @if (Model.ForeignServerId == null &&
                 (Model.Identifier.StartsWith("https://", StringComparison.OrdinalIgnoreCase) ||
                  Model.Identifier.StartsWith("http://", StringComparison.OrdinalIgnoreCase)))
            {
                <Button @onclick="ConvertNamespace">Convert to Foreign Server</Button>
            }
        </FormItem>

    <Button Type="@ButtonType.Primary" HtmlType="submit">Create</Button>
</Form>
