@page "/Item/{id:guid}/reconcile"
@attribute [Authorize]
@using BlazorInventory.Abstractions.Service
@inject IItemService ItemService
@inject IItemService IScanService

<h3>Reconciliation</h3>

<Flex Orientation="Orientation.Horizontal">
    <Flex>
        <Card Style="width: 300px;">
            <Text TextStyle="TextStyle.Overline">Outstanding Items</Text>
            <Text TextStyle="TextStyle.H4">@OutstandingItems.Count</Text>
        </Card>

        <GridRow Style="max-height: 500px;">
            <GridCol Span="12">
                Remaining:
                <ul>
                @foreach (var item in OutstandingItems)
                {
                    <li>@item.Name</li>
                }
                </ul>
            </GridCol>
            <GridCol Span="12">
                Completed:
                <ul>
                    @foreach (var item in CompletedItems)
                    {
                        <li>@item.Name</li>
                    }
                </ul>
            </GridCol>
        </GridRow>
    </Flex>
    <Flex>
        <Card Style="width: 300px;">
            <Text TextStyle="TextStyle.Overline">Completed Items</Text>
            <Text TextStyle="TextStyle.H4">@CompletedItems.Count</Text>
        </Card>
    </Flex>
</Flex>