@inherits LayoutComponentBase
@layout Client.Layout.MainLayout

<h1>Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <hr />
    <GridRow>
        <GridCol Lg="3">
            <ManageNavMenu/>
        </GridCol>
        <GridCol Lg="9">
            @Body
        </GridCol>
    </GridRow>
</div>
