@inherits LayoutComponentBase
@layout Client.Layout.MainLayout

<h1>Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <hr />
    <RadzenRow>
        <RadzenColumn SizeLG="3">
            <ManageNavMenu/>
        </RadzenColumn>
        <RadzenColumn SizeLG="9">
            @Body
        </RadzenColumn>
    </RadzenRow>
</div>
