@inherits LayoutComponentBase
@layout Client.Layout.MainLayout

<h1>Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <hr />
    <Row>
        <Col Lg="3">
            <ManageNavMenu/>
        </Col>
        <Col Lg="9">
            @Body
        </Col>
    </Row>
</div>
