@page "/Item/"
@attribute [Authorize]
@using InventorySharp.Models
@using InventorySharp.Services
@inherits ComputedStateComponent<IList<Item>>
@inject IItemService ItemService

@if (State.Error != null) {
    <div class="alert alert-warning" role="alert">Update error: @State.Error.Message</div>
}

<div class="overflow-x-auto">
    <table class="table table-zebra">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        @foreach (var row in State.Value)
        {
            <tr>
                <th>@row.Name</th>
                <td>@row.Description</td>

                <th>
                    <a href="/Item/@row.Id" class="btn btn-ghost btn-xs">details</a>
                </th>
            </tr>
        }
        </tbody>
    </table>
</div>
