@page "/"
@attribute [Authorize]
@using InventorySharp.Services
@inherits ComputedStateComponent<Index.Counts>
@inject IItemService ItemService
@inject ILabelService LabelService
@inject IScanService ScanService

@if (State.Error != null) {
  <div class="alert alert-warning" role="alert">Update error: @State.Error.Message</div>
}

<div class="stats shadow">
  <div class="stat">
    <div class="stat-title">Total Items</div>
    <div class="stat-value text-primary">@State.ValueOrDefault?.Items</div>
  </div>

  <div class="stat">
    <div class="stat-title">Total Labels</div>
    <div class="stat-value text-secondary">@State.ValueOrDefault?.Labels</div>
  </div>

  <div class="stat">
    <div class="stat-value">@State.ValueOrDefault?.Scans</div>
    <div class="stat-title">Total Scans</div>
  </div>
</div>
