@using ActualLab.Fusion.Blazor.Authentication
@inherits CircuitHubComponentBase

<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <CascadingAuthState UsePresenceReporter="true">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </CascadingAuthState>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

<AntContainer />
